USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 11/7/2015 2:04:23 PM ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'H:\Basis All project\HospitalManagementApplication\DB\HospitalDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'H:\Basis All project\HospitalManagementApplication\DB\HospitalDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[DepartmentTable]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepartmentTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DepartmentTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiseaseTable]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiseaseTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DiseaseTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DoctorTable]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DoctorTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_DoctorTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientDiseaseTable]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDiseaseTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
 CONSTRAINT [PK_PatientDiseaseTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientTable]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DoctorId] [int] NOT NULL,
 CONSTRAINT [PK_PatientTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[DoctorDepartmentView]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DoctorDepartmentView] AS
SELECT        dbo.DoctorTable.Id, dbo.DoctorTable.Name AS DoctorName, dbo.DepartmentTable.Name AS DepartmentName
FROM            dbo.DoctorTable INNER JOIN
                         dbo.DepartmentTable ON dbo.DoctorTable.DepartmentId = dbo.DepartmentTable.Id

GO
/****** Object:  View [dbo].[DoctorPatientView]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DoctorPatientView] AS
SELECT        dbo.DoctorTable.Id, dbo.DoctorTable.Name AS DoctorName, dbo.PatientTable.Name AS PatientName
FROM            dbo.DoctorTable INNER JOIN
                         dbo.PatientTable ON dbo.DoctorTable.Id = dbo.PatientTable.DoctorId

GO
/****** Object:  View [dbo].[PatientDiseaseView]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PatientDiseaseView] AS
SELECT        dbo.PatientDiseaseTable.PatientId AS Id, dbo.DiseaseTable.Id AS DiseaseId, dbo.DiseaseTable.Name AS DiseaseName
FROM            dbo.PatientDiseaseTable INNER JOIN
                         dbo.DiseaseTable ON dbo.PatientDiseaseTable.DiseaseId = dbo.DiseaseTable.Id

GO
/****** Object:  View [dbo].[PatientDoctorView]    Script Date: 11/7/2015 2:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PatientDoctorView] AS
SELECT        dbo.PatientTable.Id, dbo.PatientTable.Name AS PatientName, dbo.DoctorTable.Id AS DoctorId, dbo.DoctorTable.Name AS DoctorName
FROM            dbo.PatientTable INNER JOIN
                         dbo.DoctorTable ON dbo.PatientTable.DoctorId = dbo.DoctorTable.Id

GO
SET IDENTITY_INSERT [dbo].[DepartmentTable] ON 

INSERT [dbo].[DepartmentTable] ([Id], [Name]) VALUES (1, N'Pathology')
INSERT [dbo].[DepartmentTable] ([Id], [Name]) VALUES (2, N'Orthopedics')
INSERT [dbo].[DepartmentTable] ([Id], [Name]) VALUES (3, N'ENT')
SET IDENTITY_INSERT [dbo].[DepartmentTable] OFF
SET IDENTITY_INSERT [dbo].[DiseaseTable] ON 

INSERT [dbo].[DiseaseTable] ([Id], [Name]) VALUES (1, N'Fever')
INSERT [dbo].[DiseaseTable] ([Id], [Name]) VALUES (2, N'Cough')
INSERT [dbo].[DiseaseTable] ([Id], [Name]) VALUES (3, N'Diabetes')
SET IDENTITY_INSERT [dbo].[DiseaseTable] OFF
SET IDENTITY_INSERT [dbo].[DoctorTable] ON 

INSERT [dbo].[DoctorTable] ([Id], [Name], [DepartmentId]) VALUES (1, N'Dr. Anik', 1)
INSERT [dbo].[DoctorTable] ([Id], [Name], [DepartmentId]) VALUES (2, N'Dr. Asif', 2)
INSERT [dbo].[DoctorTable] ([Id], [Name], [DepartmentId]) VALUES (3, N'Dr. Mahmud', 1)
SET IDENTITY_INSERT [dbo].[DoctorTable] OFF
SET IDENTITY_INSERT [dbo].[PatientDiseaseTable] ON 

INSERT [dbo].[PatientDiseaseTable] ([Id], [PatientId], [DiseaseId]) VALUES (15, 2, 1)
INSERT [dbo].[PatientDiseaseTable] ([Id], [PatientId], [DiseaseId]) VALUES (16, 2, 2)
INSERT [dbo].[PatientDiseaseTable] ([Id], [PatientId], [DiseaseId]) VALUES (17, 2, 3)
SET IDENTITY_INSERT [dbo].[PatientDiseaseTable] OFF
SET IDENTITY_INSERT [dbo].[PatientTable] ON 

INSERT [dbo].[PatientTable] ([Id], [Name], [DoctorId]) VALUES (1, N'Zillur', 1)
INSERT [dbo].[PatientTable] ([Id], [Name], [DoctorId]) VALUES (2, N'Jewel', 1)
INSERT [dbo].[PatientTable] ([Id], [Name], [DoctorId]) VALUES (6, N'Hasan', 2)
SET IDENTITY_INSERT [dbo].[PatientTable] OFF
/****** Object:  Index [IX_DepartmentTable]    Script Date: 11/7/2015 2:04:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DepartmentTable] ON [dbo].[DepartmentTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiseaseTable]    Script Date: 11/7/2015 2:04:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DiseaseTable] ON [dbo].[DiseaseTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorTable]    Script Date: 11/7/2015 2:04:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DoctorTable] ON [dbo].[DoctorTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientDiseaseTable]    Script Date: 11/7/2015 2:04:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PatientDiseaseTable] ON [dbo].[PatientDiseaseTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientTable]    Script Date: 11/7/2015 2:04:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PatientTable] ON [dbo].[PatientTable]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DoctorTable]  WITH CHECK ADD  CONSTRAINT [FK_DoctorTable_DepartmentTable] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DepartmentTable] ([Id])
GO
ALTER TABLE [dbo].[DoctorTable] CHECK CONSTRAINT [FK_DoctorTable_DepartmentTable]
GO
ALTER TABLE [dbo].[PatientDiseaseTable]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiseaseTable_DiseaseTable] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[DiseaseTable] ([Id])
GO
ALTER TABLE [dbo].[PatientDiseaseTable] CHECK CONSTRAINT [FK_PatientDiseaseTable_DiseaseTable]
GO
ALTER TABLE [dbo].[PatientDiseaseTable]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiseaseTable_PatientTable] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PatientTable] ([Id])
GO
ALTER TABLE [dbo].[PatientDiseaseTable] CHECK CONSTRAINT [FK_PatientDiseaseTable_PatientTable]
GO
ALTER TABLE [dbo].[PatientTable]  WITH CHECK ADD  CONSTRAINT [FK_PatientTable_DoctorTable] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[DoctorTable] ([Id])
GO
ALTER TABLE [dbo].[PatientTable] CHECK CONSTRAINT [FK_PatientTable_DoctorTable]
GO
USE [master]
GO
